// VARIABLES GENERALES
$background-principal: #D9FFE7;
$titulos-h2: #209378;

// VARIABLES HEAD Y FOOTER
$background-head-foot: #30B294;
$letras-header: #ffffff;

// VARIABLES INICIO
$letras-articulo-grande: #ffffff;
$background-letras-art-grande: #00000049;

$background-cards: #ffffff;
$letras-cards: #000000;

// VARIABLES NOVEDADES
$titulos-novedades: #209378;

$background-cards-novedades: #ffffff;
$letras-cards-nov: #19705C;

$background-boton-ver-mas: #19705B;
$letras-boton-ver-mas: #ffffff;

// VARIABLES RESEÑAS
$titulos-reviews: #ffffff;
$background-titulo-reviews: #00000063;

// VARIABLES GENEROS
$titulos-generos: #48d1b1;
$generos: #ffffff;
$background-generos: #0000008e;

